<% include ../partials/header %>

<!--
This template is used to display to the user the 
-->

<div class='container-fluid paddingFix'>

    <h1 class='h1-responsive'>Events</h1>

    <div class='row' style='display: flex; flex-wrap: wrap;'>

        <% events.forEach(function(event){ %>

        <div class='col-md-3 col-sm-6'>
            <div class='card mb-4'>
                <div class='card-body text-center event-card'>

                    <h4 class='card-title'><%= event.name %></h4>

                    <p class='card-text'>Date - <%= event.date.getDate() %>/<%= event.date.getMonth()+1 %>/<%= event.date.getFullYear() %></p>
                    <p class='card-text lead' style='color: gold;'>Winner - <%= event.first.house %></p>
                    <p class='card-text' style='color: silver;'>Runner Up - <%= event.second.house %></p>

                    <a class='btn btn-block btn-primary' href='/events/<%= event._id %>'>View More</a>

                </div>

            </div>
        </div>


        <% }); %>
    </div>

    <% if (currentUser) { %>
      <div id='newEventBtn'>
          <button id="modalActivate" type="button" class="btn btn-lg btn-primary btn-custom" data-toggle="modal" data-target="#newEventModal">Add new event</button>
          <!--<a href='/events/new'>New Event</a>-->
      </div>
    <% } %>
</div>

<!--new event modal-->

<div class='modal fade right' id='newEventModal' tabindex='-1' role='dialog' aria-labeledby='modalTitle'
aria-hidden='true'>

    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='modalTitle'>Add new event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>

            <div class='modal-body mx-3'>
                <form action='/events' method='POST' id='newEventForm'>

                    <div class='md-form mb-5'>
                        <label for='name'>Event Name</label>
                        <input type='text' id='name' name='event[name]' class='form-control' required>

                    </div>

                    <div class='md-form mb-5'>
                        <label for='date'>Event Date</label>
                        <input type='date' id='date' name='event[date]' class='form-control' required>

                    </div>


                    <div class='md-form mb-5'>
                        <label for='winner'>Winner</label>

                        <select class="form-control" name="event[first.house]" id='winner' required>
                            <option value="Wylde">Wylde</option>
                            <option value="Whiteladies">Whiteladies</option>
                            <option value="Elgar">Elgar</option>
                            <option value="Ottley">Ottley</option>
                        </select>

                    </div>

                    <div class='md-form mb-5'>
                        <label for="firstPoints">Winner Points</label>
                        <input type="number" id="firstPoints" name='event[first.points]' class="form-control" required>

                    </div>


                    <div class='md-form mb-5'>
                        <label for='runnerUp'>Runner Up</label>

                        <select class="form-control" name="event[second.house]" id='runnerUp' required>
                            <option value="Wylde">Wylde</option>
                            <option value="Whiteladies">Whiteladies</option>
                            <option value="Elgar">Elgar</option>
                            <option value="Ottley">Ottley</option>
                        </select>
                    </div>

                    <div class='md-form mb-5'>
                        <label for="secondPoints">Runner Up Points</label>
                        <input type="number" id="secondPoints" name='event[second.points]' class="form-control" required>

                    </div>


                    <div class='md-form mb-5'>
                        <label for='third'>Third Place</label>

                        <select class="form-control" name="event[third.house]" id='third' required>
                            <option value="Wylde">Wylde</option>
                            <option value="Whiteladies">Whiteladies</option>
                            <option value="Elgar">Elgar</option>
                            <option value="Ottley">Ottley</option>
                        </select>
                    </div>

                    <div class='md-form mb-5'>
                        <label for="thirdPoints">Third Place Points</label>
                        <input type="number" id="thirdPoints" name='event[third.points]' class="form-control" required>

                    </div>


                    <div class='md-form mb-5'>
                        <label for='fourth'>Fourth Place</label>

                            <select class="form-control" name="event[fourth.house]" id='fourth' required>
                                <option value="Wylde">Wylde</option>
                                <option value="Whiteladies">Whiteladies</option>
                                <option value="Elgar">Elgar</option>
                                <option value="Ottley">Ottley</option>
                            </select>

                    </div>

                    <div class='md-form mb-5'>
                        <label for="fourthPoints">Fourth Place Points</label>
                        <input type="number" id="fourthPoints" name='event[fourth.points]' class="form-control" required>

                    </div>
                </form>

            </div>

            <div class='modal-footer'>
                <button type='button' class='btn btn-danger' data-dismiss='modal'>Close</button>
                <button type='submit' form='newEventForm' value= 'Submit' class='btn btn-success'>Add new event</button>
            </div>
        </div>
    </div>

</div>

<% include ../partials/footer %>
