<!--
@Author: Thomas Meeson <thomas>
@Date:   05-04-2019
@Last modified by:   thomas
@Last modified time: 05-04-2019
@License: Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
@Copyright: Copyright(c) 2018 Thomas Meeson
-->


<% include ../partials/header %>

<!--
This template is used to display each individual event in more detail, these are templated so that each event
has all its data shown on 2 tabs within the page. It is again contained within a fluid container with a minor
inline style to fix some padding issues.

It again includes the header and footer partials that are imported via EJS.
-->

<div class='container-fluid' style='padding: 20px;'>

    <div class='row'>
        <!-- <div class='col-md-3 sideFrame'>
            <p>CURRENT LEADERBOARD</p>
        </div> -->
        <div class='col-md-12'>

            <div class='thumbnail'>
                <!--
                The h1 of this page is simply the event name and date in the format 'Name - DD/MM/YYYY', below this there is a nav
                created which has 2 tabs, one tab that shows the event positions and where the houses came, and another tab which
                shows how many points each house was awarded for the event.
                -->
                <h1><%= event.name %> - <%= event.date.getDate() %>/<%= event.date.getMonth()+1 %>/<%= event.date.getFullYear() %></h1>

                <hr>

                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-positions-tab" data-toggle="tab" href="#nav-positions" role="tab" aria-controls="nav-positions" aria-selected="true">Positions</a>
                    <a class="nav-item nav-link" id="nav-scores-tab" data-toggle="tab" href="#nav-scores" role="tab" aria-controls="nav-scores" aria-selected="false">Scores</a>
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-positions" role="tabpanel" aria-labelledby="nav-positions-tab">
                      <p class='leaderboard-item' id='first-place'>1st - <%= event.first.house %></p>
                      <p class='leaderboard-item' id='second-place'>2nd - <%= event.second.house %></p>
                      <p class='leaderboard-item' id='third-place'>3rd - <%= event.third.house %></p>
                      <p class='leaderboard-item' id='fourth-place'>4th - <%= event.fourth.house %></p>
                  </div>
                  <div class="tab-pane fade" id="nav-scores" role="tabpanel" aria-labelledby="nav-scores-tab">

                      <p class='lead'>
                          These are the points that each house was awarded for their efforts in this event
                      </p>

                      <p class='leaderboard-item'><%= event.first.house %> - <%= event.first.points %></p>
                      <p class='leaderboard-item'><%= event.second.house %> - <%= event.second.points %></p>
                      <p class='leaderboard-item'><%= event.third.house %> - <%= event.third.points %></p>
                      <p class='leaderboard-item'><%= event.fourth.house %> - <%= event.fourth.points %></p>


                  </div>
                </div>

            </div>

        </div>

    </div>

</div>


<% include ../partials/footer %>
