<% include ../partials/header %>

<div class='container-fluid' style='padding: 20px;'>
    
    <div class='row'>
        <div class='col-md-3 sideFrame'>
            <p>CURRENT LEADERBOARD</p>
        </div>
        <div class='col-md-9'>
            
            <div class='thumbnail'>
                <h1><%= event.name %> - <%= event.date.getDate() %>/<%= event.date.getMonth()+1 %>/<%= event.date.getFullYear() %></h1>
                
                <hr>
                
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-positions-tab" data-toggle="tab" href="#nav-positions" role="tab" aria-controls="nav-positions" aria-selected="true">Positions</a>
                    <a class="nav-item nav-link" id="nav-scores-tab" data-toggle="tab" href="#nav-scores" role="tab" aria-controls="nav-scores" aria-selected="false">Scores</a>
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-positions" role="tabpanel" aria-labelledby="nav-positions-tab">
                      <p class='leaderboard-item' id='first-place'>1st - <%= event.winner %></p>
                      <p class='leaderboard-item' id='second-place'>2nd - <%= event.runnerUp %></p>
                      <p class='leaderboard-item' id='third-place'>3rd - <%= event.third %></p>
                      <p class='leaderboard-item' id='fourth-place'>4th - <%= event.fourth %></p>
                  </div>
                  <div class="tab-pane fade" id="nav-scores" role="tabpanel" aria-labelledby="nav-scores-tab">
                      
                      <p class='lead'>
                          These are the points that each house was awarded for their efforts in this event
                      </p>
                      
                      <p class='leaderboard-item'><%= event.winner %> - <%= event.firstPoints %></p>
                      <p class='leaderboard-item'><%= event.runnerUp %> - <%= event.secondPoints %></p>
                      <p class='leaderboard-item'><%= event.third %> - <%= event.thirdPoints %></p>
                      <p class='leaderboard-item'><%= event.fourth %> - <%= event.fourthPoints %></p>
                      
                      
                  </div>
                </div>
                
            </div>
            
        </div>

    </div>
    
</div>

<!--<h1><%= event.name %></h1>-->




<% include ../partials/footer %>



<!--var eventsSchema = new mongoose.Schema({-->
<!--   name: String,-->
<!--   firstPoints: Number,-->
<!--   secondPoints: Number,-->
<!--   thirdPoints: Number,-->
<!--   fourthPoints: Number,-->
<!--   date: Date,-->
<!--   winner: String,-->
<!--   runnerUp: String,-->
<!--   third: String,-->
<!--   fourth: String-->
<!--});-->
