<% include ./partials/header %>

<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>

<a href='#<%= house._id %>' data-toggle='collapse' role='button' class='float-right' aria-expanded='false' aria-controls='<%= house._id%>'>
    #<%= index+1 %>
</a>

<% houses.forEach(function(house){ %>

    <div class="collapse" id='<%=house._id%>'>
        <div class="card-body">
            <p class='lead'><%= house.houseMaster %></p>
            <p class='lead'><%= house.email %></p>
        </div>
    </div>

<% }); %>


<% include ./partials/footer %>
