<% include ../partials/header %>

<div class="container-fluid">
    <h1 class='h1-responsive'>Houses</h1>

    <% houses.forEach(function(house, index){ %>
        <div class="row">
            <div class="col-md-12" style='margin-bottom: 20px;'>
                <div class="card" style=''>
                    <div class="card-header" style='background: <%= house.colour %>;'>
                        <h4><%= house.name %><span class='float-right'>#<%= index+1 %></span></h4>
                    </div>
                    <div class="card-body">
                        <!-- <p class='lead'><%= house.houseMaster %></p>
                        <p class='lead'><%= house.email %></p> -->

                        <a class='btn btn-primary' href='/houses/<%= house._id %>'>View More</a>

                    </div>
                </div>
            </div>
        </div>
    <% }); %>

</div>


<% include ../partials/footer %>
