<% include ../partials/header %>

<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">

            <h1><%= house.name %></h1>

            <p class='lead'>Housemaster - <%= house.houseMaster %></p>

            <p class='lead'><a href="mailto:<%= house.email %>?subject=Question for houseMaster"><%= house.email %></a></p>
            <p class='lead'>Total Points - <%= house.totalPoints %></p>
            <p class='lead'>House Colour - <%= house.colour %></p>

            <a href="/houses" class='btn btn-lg btn-primary btn-custom'>Go Back</a>
        </div>

    </div>
</div>

<% include ../partials/footer %>
